/* * {
    border: 1px solid black;
} */

.athir-container {
    display: flex;
    padding: 10% 20%;
}

.athir-bio{
    white-space: nowrap;
    padding: 5% 0%;
}

.athir-pic {
    margin: 0 10%;
    padding-top: 60px;
}

.athir-pic img {
    width: 500px;
}