/* * {
    border: 1px solid black;
} */

.aziza-container {
    display: flex;
    padding: 10% 20%;
}

.aziza-bio {
    white-space: nowrap;
    padding: 5% 0%;
}

.aziza-pic {
    margin: -50 10%;
}

.aziza-pic img {
    width: 500px;
}