/* * {
    border: 1px solid black;
} */

.yogie-container {
  display: flex;
  padding: 10% 20%;
}

.yogie-bio {
  white-space: nowrap;
  padding: 5% 0%;
}

.yogie-pic {
  margin: 0 10%;
}

.yogie-pic img {
  width: 500px;
}

.form-flex {
    display: flex;
}

.left {
    margin: 10px 10px 10px 0;
}