/* * {
    border: 1px solid black;
} */

.candra-container {
    display: -webkit-box;
    padding: 10% 20%;
}

.candra-bio{
    white-space: nowrap;
    padding: 0% 0%;
}

.candra-pic {
    margin: 5 20%;
}

.candra-pic img {
    width: 400px;
    padding: auto;
