
<head title="Tisadini">
    <link rel="stylesheet" href="tisadini.css">
</head>

<body>
    <div class="tisadini-container">
        <div class="tisadini-bio">
            <h1>Tisadini Ossiana</h1>
            <p>Email: tisadini@gmail.com</p>
            <p>City: Mataram</p>
            <p>DOB: October 31st 1993</p>
            <p>Hobby: Eating</p>
        </div>
        <div class="tisadini-pic">
            <img src="cat.jpg">
        </div>
    </div>
</body>

</html>