/* * {
    border: 1px solid black;
} */

.tisadini-container {
    display: flex;
    padding: 10% 20%;
}

.tisadini-bio{
    white-space: nowrap;
    padding: 5% 0%;
}

.tisadini-pic {
    margin: 0 10%;
}

.tisadini-pic img {
    width: 500px;
}