p {
    
}
.hari-container {
    display: flex;
    padding: 10% 20%;
}

.hari-bio {
    white-space: nowrap;
    padding: 5% 0%;
}

.hari-pic {
    margin: 0 10%;
}

.hari-pic img {
    width: 250px;
}